{% extends "layout.html" %}
{% block content %}

	<h1 align="center">Template</h1>
	<h2 align="center">Every access of this page creates a database entry tracked below</h2>

	{% for entry in data %}
		<div class="tile">
			<table>
				<tr>
					<td class="key" align="right">Access ID</td>
					<td class="value" align="left">{{ entry._id }}</td>
				</tr>
				<tr>
					<td class="key" align="right">Timestamp</td>
					<td class="value" align="left">{{ entry.timestamp }}</td>
				</tr>
				<tr>
					<td class="key" align="right">Remote IP</td>
					<td class="value" align="left">{{ entry.ip }}</td>
				</tr>
				<tr>
					<td class="key" align="right">Method</td>
					<td class="value" align="left">{{ entry.method }}</td>
				</tr>
				<tr>
					<td class="key" align="right">Remote Agent</td>
					<td class="value" align="left">{{ entry.agent }}</td>
				</tr>
			</table>
		</div>
	{% endfor %}

{% endblock content %}